.button {
  align-self: center;
  margin: 0;
  padding: 0;
}

.button__edit {
  margin-left: 18px;
  height: 24px;
  width: 24px;
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  border: white solid 1px;
  padding: 0;
}

.button__edit:hover {
  opacity: 60%;
  cursor: pointer;
}

.button__frame {
  border-radius: 2%;
  grid-area: plus;
  border: white solid 2px;
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.button__frame:hover {
  opacity: 60%;
  cursor: pointer;
}

.button__frame-add {
  height: 22px;
  width: 22px;
  align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

@media screen and (max-width: 544px) {
  .button__edit {
    height: 18px;
    width: 18px;
  }

  .button__frame_add {
    height: 50px;
    width: 282px;

    padding: 0;
    margin-bottom: 36px;
  }

  .button__edit_frame {
    margin-right: 36px;
  }
}

@media screen and (min-width: 545px) and (max-width: 799px) {
  .button__frame {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .button__frame_add {
    width: 228px;
    height: 50px;
    padding: 0;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  .button__frame {
    max-width: 20%;
    margin-left: auto;
  }
}
