.button {
  align-self: center;
  margin: 0;
  padding: 0;
  border: 0;
}

.button__frame_edit {
  margin-left: 18px;
  height: 24px;
  width: 24px;
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  border: white solid 1px;
  padding: 0;
  transition: ease-in-out 1s;
}

.button__frame_edit:hover {
  opacity: 60%;
  cursor: pointer;
}

.button__frame_add {
  
  border-radius: 2%;
  grid-area: plus;
  border: white solid 2px;
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  width: 150px;
  transition: ease-in-out 1s;
  margin: 0;
  padding: 0;
}

.button__frame_add:hover {
  opacity: 60%;
  cursor: pointer;
  
}



@media screen and (max-width: 544px) {
  .button__frame_edit {
    height: 18px;
    width: 18px;
  }

  .button__frame-add {
    height: 50px;
    width: 282px;

    padding: 0;
  }

  .button__edit_frame {
    margin-right: 36px;
  }
}

@media screen and (min-width: 545px) and (max-width: 799px) {
  
  .button__frame_add {
    width: 228px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px){

.button__frame_add {
  grid-area: plus;
}
}