.header {
  max-width: 880px;
  margin: 45px auto 36px auto;
}

.header__logo {
  padding-top: 45px;
}

.header__divider {
  border-bottom: #545454 solid 1px;
  margin: 41px auto 0 auto;
  width: 100%;
  flex-grow: 1;
}

@media screen and (max-width: 544px) {
  .header {
    max-width: 320px;
    height: 56px;
    margin: 28px auto 0 auto;
  }

  .header__logo {
    margin: 28px auto 0 27px;
  }
}

@media screen and (min-width: 544px) and (max-width: 880px) {
  .header__logo {
    margin: 28px auto 0 auto;
    max-width: 554px;
  }
}
