.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: absolute;
  width: 430px;
  height: 330px;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  background-color: white;
  margin-left: -215px;
  margin-top: -165px;
  font-family: Inter, Arial, sans-serif;
  z-index: 10;
}

.modal__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 34px auto 24px 36px;
}

.modal__input {
  width: 358px;
  margin: 30px auto auto 36px;
  border: 2px;
  border-bottom: rgba(0, 0, 0, 70) solid 1px;
  padding-bottom: 13px;
  font-size: 14px;
  font-weight: 400;
}

.modal__input-name {
}

.modal__input-profession {
}

.modal__button {
  width: 358px;
  height: 50px;
  margin: 48px auto auto 36px;
  background-color: black;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
}

.modal__close {
  margin: 0;
  position: absolute;
  top: -48px;
  right: -48px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 799px) {
  .modal__container {
    width: 282px;
    height: 322px;
    background-color: white;
  }

  .modal__title {
    font-size: 218px;
    font-weight: 900;
  }

  .modal__input {
    width: 238px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    background-color: black;
    color: white;
    font-size: 14px;
  }

  .modal__close {
    position: relative;
    top: 48px;
    right: 48px;
    height: 40px;
    width: 40px;

    color: white;
    rotate: 45deg;
  }
}
