.profile {
  max-width: 880px;
  margin: 0 auto 0 auto;
  display: grid;

  grid-template-columns: 170px 560px 150px;
  grid-template-areas: "image about plus";
  align-items: center;
}

.profile__image {
  grid-area: image;
  margin: 0;
  width: 120px;
  height: 120px;
}

.profile__image-frame {
  border-radius: 100px;
  height: 120px;
  width: 120px;
  overflow: hidden;
}

.profile__about {
  grid-area: about;
  align-items: center;
  margin: 0;
}

.profile__details {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.profile__name {
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.1;
  max-width: 373px;
  display: flex;
  flex-direction: row;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__profession {
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 544px) {
  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile__image-frame {
    grid-area: image;
    max-width: 120px;
  }

  .profile__image {
    border-radius: 100px;

    margin: 0 auto 26px auto;
    overflow: hidden;
  }

  .profile__about {
    display: block;
  }

  .profile__details {
    margin: 0;
    max-width: 100%;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.2;
    max-width: 100%;
    justify-self: center;

    margin-left: 62px;
  }

  .profile__profession {
    font-size: 14px;

    max-width: 282px;
    margin: 14px auto 36px auto;
    text-align: center;
  }
}

@media screen and (min-width: 544px) and (max-width: 799px) {
  .profile {
    max-width: 545px;
    margin: 38px auto 26px auto;
  }

  .profile__name {
    margin-top: 26px;
    margin-bottom: 14px;
  }

  .profile__profession {
    max-width: 545px;
    text-align: center;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  .profile {
    max-width: 90%;
    display: flex;
    padding: 0;
    margin-top: 38px;
  }
  .profile__details {
    display: flex;
    margin-left: 30px;
    max-width: 100%;
  }

  .profile__name {
    font-size: 36px;
  }

  .profile__profession {
    margin-left: 30px;
    margin-top: 16px;
  }
}
