.profile {
  max-width: 880px;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 170px 560px 150px;
  grid-template-areas: "image about add";
  align-items: center;
}

.profile__image {
  border-radius: 100px;
  height: 120px;
  width: 120px;
  overflow: hidden;
}

.profile__image_frame {
  grid-area: image;
  margin: 0;
  width: 120px;
}

.profile__about {
  grid-area: about;
  align-items: center;
  margin: 0;
  width: 373px;
}

.profile__name {
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;

  display: flex;
  flex-direction: row;
}

.profile__name p {
  margin: 0;
}

.profile__profession {
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;

  margin: 0;
}

.profile__button_add {
  grid-area: add;
  border: white solid 2px;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

@media screen and (max-width: 544px) {
  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile__image_frame {
    grid-area: image;
    margin: 0;
    width: 120px;
    margin: 122px auto 26px auto;
  }

  .profile__image {
    border-radius: 100px;
    height: 120px;
    margin: 0 auto;

    overflow: hidden;
  }

  .profile__about {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 320px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 27px;
    margin: 0 auto 14px auto;
  }

  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    width: 282px;
    margin: 0 auto 36px 19px;
    text-align: center;
  }

  .profile__button_add {
    width: 282px;
    padding: 0;
    margin-bottom: 36px;
  }
}
